<%= link_to '', "tabindex" => "0", "data-toggle" => "popover", "data-trigger" => "hover", "data-content" => "Log in to vote!" do %>
  <span class="glyphicon glyphicon-thumbs-<%= thumb %>" aria-hidden="true"></span>
<% end %>