/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/********** NAV BAR **********/
.navbar-default {
  background-color: rgb(27,25,40);
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 26px;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  font-size: 26px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: rgb(179,12,23);
color: #ffffff;
}




body {
  background-color: rgb(33,40,63);
}

.jumbotron {
  background-color: rgb(33,40,63);
  padding: 0px;
}

.jumbotron .lead  {
  font-size: 36px;
  color: #ffffff;
}


.well .glyphicon-plus {
  font-size: 48px;
  color: rgb(179,12,23);
}

.quiet {
  color: #ababab;
}

.label, .badge {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

.badge {
  margin-right: 10px;
}

div.comment_votes {
  padding: 10px;
}